@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:800,400');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Source Sans Pro, system-ui, sans-serif;
  }

  h1, h2, h3, h4, h5{
  	font-family: Source Code Pro;
  }
}
